openapi: 3.1.0
info:
  title: Daily US Stock Screen write queue
  version: 1.1.1
  description: Creates and observes tightly scoped Issue write requests. It cannot access repository contents, Actions, refs, workflows, or pull requests.
servers:
  - url: https://api.github.com
paths:
  /repos/Hughey-T/Daily-US-Stock-Screen/issues:
    post:
      operationId: submitAnalysisWriteRequest
      summary: Submit one Contract 3.0 analysis write request
      description: >-
        Creates one Issue. Retrieve both schemas first. The title must be
        `[GPT-ANALYSIS-V3] {request_id}` and the body must be strict JSON matching
        analysis-write-request.schema.json with artifact.assessments. Do not use
        aliases, Markdown, or code fences.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [title, body]
              properties:
                title:
                  type: string
                  pattern: '^\[GPT-ANALYSIS-V3\] analysis_[0-9a-f]{64}$'
                  description: Must equal `[GPT-ANALYSIS-V3] ` followed by the request_id found in the serialized body.
                body:
                  type: string
                  minLength: 2
                  maxLength: 51200
                  description: >-
                    Serialized strict JSON conforming exactly to
                    schemas/v3.0/analysis-write-request.schema.json. The request_id
                    is `analysis_` plus SHA-256 of canonical JSON array
                    `[artifact,evidence_registry]` using UTF-8, sorted keys,
                    compact separators, ensure_ascii=false and no nonfinite values.
      responses:
        '201':
          description: Issue created
          content:
            application/json:
              schema:
                type: object
                properties:
                  number: {type: integer}
                  title: {type: string}
                  state: {type: string}
                  body: {type: [string, 'null']}
                  html_url: {type: string, format: uri}
  /repos/Hughey-T/Daily-US-Stock-Screen/issues/{issue_number}:
    get:
      operationId: getAnalysisWriteRequest
      summary: Get the fixed-repository write request Issue
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Issue
          content:
            application/json:
              schema:
                type: object
                properties:
                  number: {type: integer}
                  title: {type: string}
                  state: {type: string}
                  body: {type: [string, 'null']}
                  html_url: {type: string, format: uri}
  /repos/Hughey-T/Daily-US-Stock-Screen/issues/{issue_number}/comments:
    get:
      operationId: listAnalysisWriteRequestReceipts
      summary: List processing receipts for the fixed-repository request
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Comments
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: object
                  properties:
                    id: {type: integer}
                    body: {type: string}
                    created_at: {type: string, format: date-time}
components:
  schemas: {}
  securitySchemes:
    githubAppUserOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes:
            public_repo: Create and read Issues in the fixed public repository.
security:
  - githubAppUserOAuth:
      - public_repo
