openapi: 3.1.0
info:
  title: Daily US Stock Screen write queue
  version: 1.0.1
  description: Creates and observes tightly scoped prediction write-request Issues. It cannot access repository contents, Actions, refs, workflows, or pull requests.
servers:
  - url: https://api.github.com
paths:
  /repos/Hughey-T/Daily-US-Stock-Screen/issues:
    post:
      operationId: submitAnalysisWriteRequest
      summary: Submit one prediction or analysis write request
      description: Consequential action that creates an Issue. Contract 3.0 uses `[GPT-ANALYSIS-V3] analysis_<64 lowercase hex>`; legacy prediction writes use `[GPT-WRITE-V2] gptw_<64 lowercase hex>`. Body is strict JSON only.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [title, body]
              properties:
                title:
                  type: string
                  pattern: '^(\[GPT-WRITE-V2\] gptw_|\[GPT-ANALYSIS-V3\] analysis_)[0-9a-f]{64}$'
                body:
                  type: string
                  minLength: 2
                  maxLength: 51200
                  description: A serialized strict JSON request envelope only; do not add Markdown or code fences.
      responses:
        '201':
          description: Issue created
          content:
            application/json:
              schema:
                type: object
                properties:
                  number: {type: integer}
                  title: {type: string}
                  state: {type: string}
                  body: {type: [string, 'null']}
                  html_url: {type: string, format: uri}
  /repos/Hughey-T/Daily-US-Stock-Screen/issues/{issue_number}:
    get:
      operationId: getAnalysisWriteRequest
      summary: Get the fixed-repository write request Issue
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Issue
          content:
            application/json:
              schema:
                type: object
                properties:
                  number: {type: integer}
                  title: {type: string}
                  state: {type: string}
                  body: {type: [string, 'null']}
                  html_url: {type: string, format: uri}
  /repos/Hughey-T/Daily-US-Stock-Screen/issues/{issue_number}/comments:
    get:
      operationId: listAnalysisWriteRequestReceipts
      summary: List processing receipts for the fixed-repository request
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Comments
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: object
                  properties:
                    id: {type: integer}
                    body: {type: string}
                    created_at: {type: string, format: date-time}
components:
  securitySchemes:
    githubAppUserOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes: {}
security:
  - githubAppUserOAuth: []
